@using Demo01.Shared.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer
@{
    var isAuthenticated = User.Identity?.IsAuthenticated ?? false;
    var userName = User.Identity?.Name?.Split('@').First() ?? string.Empty;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo01.WebApi</title>
    <script type="importmap"></script>
    <link rel="stylesheet" vite-href="~/js/main.js" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Demo01.WebApi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Demo01.WebApi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Logout Modal -->
    <div class="modal fade" id="confirmLogoutModal" tabindex="-1" aria-labelledby="confirmLogoutLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center">
                <!-- Title -->
                <div class="modal-header text-white" style="background-color: var(--demo-primary); ">
                    <h5 class="modal-title w-100" id="confirmLogoutLabel">@Localizer["Logout_Confirmation"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Content -->
                <div class="modal-body">
                    @Html.Raw(Localizer["Logout_Confirmation_Content"])
                </div>

                <!-- Footer Buttons -->
                <div class="modal-footer justify-content-center border-0">
                    <button type="button" class="btn btn-logout-yes" id="confirmLogoutBtn">@Localizer["Yes"]</button>
                    <button type="button" class="btn btn-logout-no" data-bs-dismiss="modal">@Localizer["No"]</button>
                </div>
            </div>
        </div>
    </div>

    <script type="module" vite-src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
